# Core Dependencies
pytz
python-magic
natsort
gTTS
waybackpy
heroku3

# Async Libraries
aiofiles
aioshutil
asyncio
uvloop

# Web and API
flask
gevent
gunicorn
requests
httpx
aiohttp
cloudscraper
telegraph
html_telegraph_poster

# Database
motor
pymongo
dnspython

# File Processing
pillow
python-magic
xattr
mutagen
pybase64
pycryptodome
cryptography

# Download and Torrents
aria2p
qbittorrent-api
yt-dlp
git+https://github.com/zevtyardt/lk21.git

# Google API
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Telegram
pyrofork==2.2.11
tgcrypto

# Utilities
apscheduler
beautifulsoup4
cinemagoer
feedparser
langcodes[data]
lxml
markdown
pycountry
python-dotenv
speedtest-cli
tenacity
python-secrets
typing

# MEGA SDK Requirements
setuptools>=42
wheel
six>=1.10
cryptography>=2.8
requests>=2.22.0
